science/


# Virtual environment
.venv/
local_science_env/

# Python cache files
__pycache__/
*.py[cod]

# IDE-specific files (optional, but recommended)
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Data files (if you don't want to track them)
data/*

# Logs
*.log

# Environment variables file (if you use one)
.env

# Logged data
data/log.data

.Trash-1000