# adafruit-circuitpython-dht==4.0.5
# adafruit-circuitpython-register==1.10.1
# adafruit-dht==1.4.0
anyio==4.6.2.post1
backcall==0.2.0
decorator==5.1.1
defusedxml==0.7.1
deptry==0.20.0
docopt==0.6.2
fastjsonschema==2.20.0
flask==3.0.3
# gpio==1.0.0
httpcore==1.0.6
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.collections==5.1.0
jedi==0.19.1
jsonschema==4.23.0
jupyterlab-pygments==0.3.0
markdown-it-py==3.0.0
packaging==24.1
pandocfilters==1.5.1
pexpect==4.9.0
pickleshare==0.7.5
pip-chill==1.0.3
platformdirs==4.3.6
prompt-toolkit==3.0.48
pygments==2.18.0
python-dateutil==2.9.0.post0
pyzmq==26.2.0
shellingham==1.5.4
smbus2==0.5.0
soupsieve==2.6
stack-data==0.6.3
tinycss2==1.4.0
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
uv==0.4.29
yarg==0.1.9
